
<div class="py-5 border-top">
  <div class="container">
    <p class="h5 mb-3">{{ site.title | escape }}</p> 
    <div class="row">

      <div class="col-sm text-left">
        <ul class="list-unstyled">
          <li >
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
          </li>
          {%- if site.email -%}
            <li>
              <a href="mailto:{{ site.email }}">
                {{ site.email }} </a>
            </li>
            <li>
              <a href="https://github.com/nik-hil">
                Github </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/nikhar/">
                Linkedin </a>
            </li>
          {%- endif -%}
        </ul>
      </div>


      <div class="col-sm text-right">
        <p>{{- site.description | escape -}}</p>
        <p>
          <a class="nav-link" href="{{ site.github.repository_url }}">Fork me on Github</a>
        </p>
        <p>
          <a href="https://nicolas-van.github.io/bootstrap-4-github-pages/">Powered by Bootstrap 4 Github Pages</a>
        </p>
      </div>

    </div>
  </div>
</div>
