---
layout: default
---
<article>

  <header>
    <h1>{{ page.title | escape }}</h1>
    <p class="text-muted">
      <time datetime="{{ page.date | date_to_xmlschema }}">
        {%- assign date_format = "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • {{ page.author }}
      {%- endif -%}
    </p>
  </header>

  <section>
    {{ content }}
  </section>

  {% if site.related_posts.size >= 1 %}
    <div>
      <h3>Related Posts</h3>
      <ul>
      {% for related_post in site.related_posts limit: 5 %}
        <li><a href="{{ related_post.url }}">{{ related_post.title }}</a></li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}

</article>
